<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Login</title>
</head>
<body>
    <h2>User Login</h2>
    <form method="post" th:action="@{/auth/login}">
        <input type="hidden" name="role" value="USER"/>
        Email: <input type="email" name="email" required/><br/>
        Password: <input type="password" name="password" required/><br/>
        <button type="submit">Login</button>
    </form>
    <a href="/auth/register">New user? Register</a>
    <p th:text="${error}"></p>
</body>
</html>
